@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* background: #1abc9c; */
    /* overflow: hidden; */
}

::selection {
    background: rgba(26, 188, 156, 0.3);
}

.container {
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
}

.wrapper {
    width: 85%;
    margin: auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .title {
    height: 90px;
    background: #a91315;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .FORM {
    padding: 30px 25px 25px 25px;
}

.wrapper .FORM ._row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.wrapper .FORM ._row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}

.FORM ._row input:focus {
    border-color: #a91315;
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.9);
}

.FORM ._row input::placeholder {
    color: #999;
}

.wrapper .FORM ._row i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #000;
    border: 1px solid #000;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .FORM .pass {
    margin: -8px 0 20px 0;
}

.wrapper .FORM .pass a {
    color: #000;
    font-size: 17px;
    text-decoration: none;
}

.wrapper .FORM .pass a:hover {
    text-decoration: underline;
    font-weight: bold;
    transition: 0.3s;
}

.wrapper .FORM .button input {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #a91315;
    /* border: 1px solid #a91315; */
    cursor: pointer;
}

.FORM .button input:hover {
    background: #000;
}

.wrapper .FORM .signup-link {
    text-align: center;
    margin-top: 20px;
    color: #fff;
    font-size: 17px;
}

.wrapper .FORM .signup-link a {
    color: #000;
    text-decoration: none;
}

.FORM .signup-link a:hover {
    text-decoration: underline;
    font-weight: bold;
    transition: 0.3s;

}

#phone_number {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}
