@font-face {
    font-family: "Tajwal";
    src: url('../fonts/Tajawal-Regular.ttf');
}

/* @font-face {
    font-family: "Tajwal-light";
    src: url('../fonts/Tajawal-Light.ttf');
}

@font-face {
    font-family: "Tajwal-bold";
    src: url('../fonts/Tajawal-ExtraBold.ttf');
} */
@font-face {
    font-family: "GothicA1";
    src: url('../fonts/Century Gothic.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "GothicA1";

}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
.navbar-collapse{
    justify-content: right !important;
}
.navbar{
    background-color: #1B4AB7 !important;
    padding:2rem 4rem
}
.nav-link {
    font-size: 18px;
    color: white !important;
    margin: 0 10px;
}
@media only screen and (max-width:992.98px){
    .navbar-light .navbar-toggler-icon
    {
        background-image: url('../images/menu.png') !important;
        transform:  scaleX(-1);
    }
}
@media only screen and (max-width:767.98px){
    .navbar{
        padding: 10px;
    }
    .navbar-logo img {
        width: 70px;
    }

}
@media only screen and (max-width:991.98px){
    .nav-link {
        font-size: 16px;
        margin:  10px;
    }
}

/***************************/
.background-text {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.2;
    font-weight: bold;
    color:#d8dce2;
    text-align: center;
    z-index: -1;
    text-transform: uppercase;
}
/************************************FIRST SECTION****************************/
.welcome-to {
    position: relative;
    width: 100%;
    height: 650px;
}

.welcome-to img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    display: block;
    height: 100%;
}
body{
    background: linear-gradient(to left, #194bc0, #11358F, #08194B);
}
.home-page{
    min-height: auto;
    background: linear-gradient(to left, #194bc0, #11358F, #08194B);
}
.welcome-to-text h1 {
    font-size: 3.5rem;
}
.welcome-to-text  h2{
    font-size: 2.5rem;
}
.welcome-to-text{
    position: absolute;
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    top: 10rem;
    left: 12rem;
}
@media only screen and (max-width:1110px){
    .welcome-to-text{
        left: 5rem;
    }
    .welcome-to-text h1 {
        font-size: 40px;
    }
}
@media only screen and (max-width:991.98px){
    .welcome-to-text{
        left: 1rem;
    }

}
@media only screen and (max-width:768px){
    .welcome-to-text{
        top: 6rem;
    }
    .welcome-to-text h1{
        font-size: 30px;
    }
    .welcome-to {
        height: 400px !important;
    }
}
@media only screen and (max-width:550px){
    .welcome-to-text{
        top:4rem;
    }
    .welcome-to-text h1{
        font-size: 20px;
    }
    .welcome-to{
        height: 300px !important;
    }
}
@media only screen and (max-width:445px){

    .welcome-to-text h1{
        font-size: 18px;
    }
}
@media only screen and (max-width:400px){

    .welcome-to-text h1{
        font-size: 15px;
    }
}
@media only screen and (max-width:355px){
    .welcome-to-text{
        top:3rem;
    }
    .welcome-to{
        height: 200px !important;
    }
}
.meem-div{
    background: linear-gradient(to left, #194bc0, #11358F, #08194B);
}

.meem-div-text .background-text{
    font-size: 30rem;
    margin:-9rem 0
}
@media only screen and (max-width:1350px) {
    .meem-div-text .background-text{
        font-size: 25rem;
        margin:-7rem 0
    }
}
@media only screen and (max-width:1037px) {
    .meem-div-text .background-text{
        font-size: 20rem;
        margin:-5rem 0
    }
}
@media only screen and (max-width:830px) {
    .meem-div-text .background-text{
        font-size: 16rem;
        margin:-4rem 0
    }
}
@media only screen and (max-width:663px) {
    .meem-div-text .background-text{
        font-size: 12rem;
        margin:-2rem 0
    }
}
@media only screen and (max-width:500px) {
    .meem-div-text .background-text{
        font-size: 10rem;
        margin:-2rem 0
    }
}
@media only screen and (max-width:415px) {
    .meem-div-text .background-text{
        font-size: 5rem;
        margin:-1rem 0
    }
}

.sixmeem-about{
    width: 400px ;
    height: 400px ;
    background: linear-gradient(to left, #0f2f80, #010c4b);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*************************************************/
.sixmeem-text{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 3rem 10rem 0 10rem;
}
.sixmeem-text p{
    font-size: 25px;
    color:white;
}
@media only screen and (max-width:845px) {
    .sixmeem-text{
        padding: 1rem 5rem 0 5rem;
    }
    .sixmeem-text p{
        font-size: 20px;
    }
}
@media only screen and (max-width:600px) {
    .sixmeem-text p{
        font-size: 15px;
    }
    .sixmeem-text{
        padding: 1rem 2rem 0 2rem;
    }
}
@media only screen and (max-width:430px) {
    .sixmeem-text p{
        font-size: 12px;
    }
}
/*************************************************/
.sixmeem-about-text p{
    font-size: 18px;
    line-height: 3rem;
    color:white;
    margin:0 1rem
}
.sixmeem-about img{
    width: 200px;
}
@media only screen and (max-width:992px) {
    .sixmeem-about-text p{
        margin: 0 1rem !important;
        line-height: 2rem;
        font-size: 15px;
    }

    .sixmeem-about{
        width: 300px ;
        height: 300px ;
    }
}
@media only screen and (max-width:767.98px) {
    .sixmeem-about-text p{
        font-size: 12px;
    }

    .sixmeem-about{
        width: 300px ;
        height: 300px ;
    }

    .responsive-container{
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100% !important;
        max-width: 100% !important;
    }
}
@media only screen and (max-width:590px) {
    .sixmeem-about-text p{
        font-size: 11px;
        line-height: 1.3 !important;
    }

    .sixmeem-about{
        width: 200px ;
        height: 200px ;
    }
    .sixmeem-about img{
        width: 100px;
    }
    .responsive-container{
        max-width: 100% !important;
    }
}
/* @media only screen and (max-width:463px) {


    .sixmeem-about{
        width: 150px ;
        height: 150px ;
    }
} */
@media only screen and (max-width:463px) {
    .sixmeem-about-text p{
        font-size: 10px;
    }
}
@media only screen and (max-width:400px) {
    .sixmeem-about-text p{
        font-size: 7px;
    }
    .sixmeem-about{
        width: 150px ;
        height: 150px ;
    }
}
  /* Media query for small screens */
.our-mission .background-text{
    font-size: 17rem;
}
@media only screen and (max-width:1410px) {
    .our-mission .background-text{
        font-size: 15rem;
    }
}
@media only screen and (max-width:1245px) {
    .our-mission .background-text{
        font-size: 10rem;
    }
}
@media only screen and (max-width:767.98px) {
    .our-mission .background-text{
        font-size: 7rem;
    }
}
@media only screen and (max-width:537px) {
    .our-mission .background-text{
        font-size: 5rem;
    }
}
@media only screen and (max-width:383px) {
    .our-mission .background-text{
        font-size: 3rem;
    }
}
/************************************************/

.design-box{
    position: relative;
    height: 240px;
}
@media only screen and (max-width:991.98px) {
    .design-box{
        height: 300px;
    }
}
@media only screen and (max-width:767.98px) {
    .design-box{
        height: 290px;
    }
}
@media only screen and (max-width:500px) {
    .design-box{
        height: 240px;
    }
}
.designbox-title
{
    position: absolute;
    width: 4.5rem;
    height: 9rem;
    background-color: #42BDF3;
}


.design-box h1{
    position: absolute;
    color:white;
    font-size: 20px;
    z-index: 999;
    top:6rem;
    font-size: 30px;
    font-weight: bold;
    left: 1rem;
    text-transform: uppercase;
}

.our-mission-text{
    top:10rem;
    position: absolute;
    color:white;
    font-size: 18px;
    margin-right: 30rem;
}

@media only screen and (max-width:767.98px) {
    .our-mission-text{
        margin-right: 0 !important
    }
    .design-box h1{
        font-size: 20px;
    }
    .designbox-title
    {
        position: absolute;
        width: 3.5rem;
        height: 7rem;
        background-color: #42BDF3;
    }
    .design-box h1{
        top:5rem
    }

}
@media only screen and (max-width:500px) {
    .our-mission-text{
        font-size: 15px;
    }
}
@media only screen and (max-width:455px) {
    .our-mission-text{
        font-size: 13px;
    }
}
@media only screen and (max-width:400px) {
    .our-mission-text{
        font-size: 12px;
    }
}
.mission-img {
    display: flex;
    justify-content: right;
}
@media only screen and (max-width:767.98px) {
    .mission-img {
        display: flex;
        justify-content: center;
    }
}
.mission-img img{
    width: 400px;
}
@media only screen and (max-width:500px) {
    .mission-img img{
        width: 250px;
    }
}
@media only screen and (max-width:350px) {
    .mission-img img{
        width: 200px;
    }
}

/**********************************/

.feature-box{
    /* background-color: #88F2CB; */
    text-align: center;
    margin-top: 8rem;
}
.feature-box h2 {
    font-weight: bold;
    color:white;
    text-transform: uppercase;
}
.feature-box p{
    color: #42BDF3;
    font-size: 18px;
    margin:0 1rem
}
@media only screen and (max-width:767.98px) {
    .feature-box h2 {

        font-size: 20px;
    }
    .feature-box p{
        font-size: 13px;
        margin:0 !important
    }
}
@media only screen and (max-width:575.98px) {
    .feature-box h2 {
        font-size: 17px;
    }
    .feature-box p{
        font-size: 10px;
        margin: 0 12rem !important;
    }
    .feature-box{
        /* background-color: #88F2CB; */
        margin-top: 3rem;
    }
}
@media only screen and (max-width:440px) {

    .feature-box p{
        font-size: 10px;
        margin: 0 5rem !important;
    }
}
/**********************************/
.measurement .background-text {
    font-size: 15rem;
}
.measurement-box{
    height:auto;
}
.measurement-img img {
    width: 1300px;
}
@media only screen and (max-width:1500px) {

    .measurement-img img {
        width: 1250px;
    }
}
@media only screen and (max-width:1400px) {
    .measurement-img img {
        width: 100%;
        padding-top: 4rem;
    }
    .measurement-img {
        display: flex;
        justify-content: right !important;
    }
}
@media only screen and (max-width:991.98px) {

    .measurement-img img {
        width: 100%;
        margin-top: 12rem;
    }
}
@media only screen and (max-width:767.98px) {

    .measurement-img img {
        width: 100%;
        margin-top: 16rem;
    }
}
.measurement-box-text{
    top:10rem;
    position: absolute;
    color:white;
    font-size: 18px;
}
@media only screen and (max-width:1400px) {
    .measurement .background-text {
        font-size: 10rem;
    }
}
@media only screen and (max-width:860px) {
    .measurement .background-text {
        font-size: 7rem;
    }
}
@media only screen and (max-width:600px) {
    .measurement .background-text {
        font-size: 5rem;
    }
    .measurement-box-text{
        font-size: 16px;
    }
}
@media only screen and (max-width:435px) {
    .measurement .background-text {
        font-size: 3rem;
    }
    .measurement-box-text{
        font-size: 14px;
    }
}
/**********************************/
.targeting-box{
    height: 300px;
}
.targeting .background-text{
    font-size: 18rem;
}
@media only screen and (max-width:1280px) {
    .targeting .background-text{
        font-size: 15rem;
    }
}
@media only screen and (max-width:992px) {
    .targeting .background-text{
        font-size: 12rem;
    }
}
@media only screen and (max-width:782px) {
    .targeting .background-text{
        font-size: 10rem;
    }
}
@media only screen and (max-width:655px) {
    .targeting .background-text{
        font-size: 7rem;
    }
}
@media only screen and (max-width:460px) {
    .targeting .background-text{
        font-size: 4rem;
    }
}
.targeting-text {
    top:10rem;
    position: absolute;
    font-size: 18px;
    font-weight: 500;
}
.targeting-text-title{
    color: white;
}
.targeting-text-parag{
    color:#42BDF3
}
@media only screen and (max-width:767.98px) {
    .targeting-box{
        height: 400px;
    }
}
@media only screen and (max-width:500px) {
    .targeting-text {
        font-size: 16px;
    }
    .targeting-box{
        height: 350px;
    }
}
@media only screen and (max-width:407px) {
    .targeting-text {
        font-size: 14px;
    }
    .targeting-box{
        height: 350px;
    }
}
@media only screen and (max-width:353px) {
    .targeting-text {
        font-size: 12px;
    }

}
/**********************************/
.specs-box{
    height: 300px;
}
.specs .background-text{
    font-size: 30rem;
    margin-bottom: -3rem
}
@media only screen and (max-width:1060px) {
    .specs .background-text{
        font-size: 25rem;
    }
}
@media only screen and (max-width:880px) {
    .specs .background-text{
        font-size: 20rem;
    }
}
@media only screen and (max-width:704px) {
    .specs .background-text{
        font-size: 17rem;
    }
}
@media only screen and (max-width:600px) {
    .specs .background-text{
        font-size: 15rem;
    }
}
@media only screen and (max-width:408px) {
    .specs-box{
        height: 260px;
    }
}
@media only screen and (max-width:530px) {
    .specs .background-text{
        font-size: 7rem;
    }
}
@media only screen and (max-width:370px) {
    .specs .background-text{
        font-size: 5rem;
    }
}
@media only screen and (max-width:312px) {
    .specs-box{
        height: 300px;
    }
}
/**********************************/
.services{
    position: relative
}
.our-services-title{
    position: absolute;
    width: 10rem;
    height: 3.5rem;
    z-index: 99 !important;
    background-color: #42BDF3;
}

.our-services-box{
    position: relative;
    height: 40px;
}
.services{
    justify-content: center;
    text-align: center;
    display: block;
    margin: auto;
}
.our-services-box h1{
    position: absolute;
    color:white;
    font-size: 20px;
    z-index: 999;
    top:6px;
    font-size: 30px;
    font-weight: bold;
    left: 37%;
    text-transform: uppercase;
}

.our-services-box .designbox-title
{
    position: absolute;
    width: 9rem;
    height: 3.5rem;
    background-color: #42BDF3;
    left: 30%;
}
.our-services-text{
    font-size: 18px;
    color:white;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
@media only screen and (max-width:605px) {
    .our-services-box h1{
        left: 10%;
        font-size: 17px;
    }
    .our-services-box .designbox-title
    {
        position: absolute;
        width: 7rem;
        height: 2rem;
        background-color: #42BDF3;
        left: 0;
    }
    .our-services-text{
        font-size: 13px;
        margin-top: 0 !important;
    }

}
.our-services .background-text{
    font-size: 16rem;
}
@media only screen and (max-width:1450px) {
    .our-services .background-text{
        font-size:13rem;
    }
}
@media only screen and (max-width:1274px) {
    .our-services .background-text{
        font-size:12rem;
    }
}
@media only screen and (max-width:1105px) {
    .our-services .background-text{
        font-size:10rem;
    }
}
@media only screen and (max-width:852px) {
    .our-services .background-text{
        font-size:7rem;
    }
    .our-services{
        margin-top:5rem;
    }
}
@media only screen and (max-width:604px) {
    .our-services .background-text{
        font-size:5rem;
    }
}
@media only screen and (max-width:440px) {
    .our-services .background-text{
        font-size:3rem;
    }
}

/*****************************/
.advertisers_img{
    padding-bottom:4rem
}
.advertisers_img img {
    display: block;
    margin: auto;
    width: 50%;
}
@media only screen and (max-width:600px) {
    .advertisers_img img {
        width: 100%;

    }
}
/*******************************FOOTER*************************/



footer{
    direction: ltr;
    bottom: 0;
    background: linear-gradient(to left, #011fbc,  #010b4b);
    /* text-align: right; */
    color: #000;
    padding-top: 5rem;
}
footer .row{margin-bottom: 5rem;}
footer div{
    text-align: left;
}
footer img{
    width: 60%;
}
footer ul a{
    color: white;
    font-size: 15px;
}
footer .social-links-footer i {
    color: white;
    margin: 0 3px;
    font-size: 3rem;
    /* text-align: right; */
    /* float: right; */
    direction: rtl;
}
footer h5{
    color:#88F2CB;

}
footer p {font-size: 15px; color:white}
.social-links i {
    color: #fff;
    font-size: 35px;
}
footer .footer-copyright , footer .footer-copyright a{
    /* text-align: right; */
    direction: ltr;
    background-color: #01023C;
    color: white;
    font-size: 15px;
}

footer .footer-copyright a{
    font-weight: bold;
}

@media screen and (max-width:992px) {

    footer .social-links-footer i {
        font-size: 25px;
    }
    footer p {padding-left: 0 ;}
}
@media screen and (max-width:767px) {
    footer div{
        text-align: center;
    }
    footer p {padding:0 5rem }
    footer .social-links-footer i {
        font-size: 3rem;
    }
    footer img{
        width: 20%;
    }
}
footer .list-unstyled li a:hover{
    color:#88F2CB
}
/*******************************************/
.contactus h1{
    color:white;
    font-weight: bold;
}
.contactus-form input
,.contactus-form textarea{
    width: 50%;
}
.contactus-form label{
    font-size: 18px;
    color:#88F2CB;
    font-weight: bold;
}
.contactus-form .btn{
    background-color:#42BDF3 ;
    border:none;
    font-size: 18px;
    margin:2rem 0;
    color:#01023C;
    font-weight: bold;
}
.contact-us .background-text{
    font-size: 13rem !important;
    font-weight: bold;
}
@media only screen and (max-width:1220px) {
    .contact-us .background-text{
        font-size: 10rem !important;
    }
}
@media only screen and (max-width:992px) {
    .contact-us .background-text{
        font-size: 8rem !important;
    }
}
@media only screen and (max-width:768px) {
    .contact-us .background-text{
        font-size: 6rem !important;
    }
    .contactus-form input
    ,.contactus-form textarea{
        width:100%;
    }
}
@media only screen and (max-width:480px) {
    .contact-us .background-text{
        font-size: 4rem !important;
    }
}
@media only screen and (max-width:333px) {
    .contact-us .background-text{
        font-size: 3rem !important;
    }
}
/************************************/
/**********************************/
.certificates-con{
    height: 145rem;
    position: static;
}
.car-img{
    width: 40%;
    display: block;
    margin: auto;
}
@media only screen and (max-width:767.98px) {
    .car-img{
        width: 70%;
    }
}
@media only screen and (max-width:500px) {
    .car-img{
        width: 80%;
    }
}

.our-sevices-car{
    justify-content: right;
    display: flex;
    margin-bottom: 4rem;
}
.our-sevices-car img{
    width: 50%;
}
@media only screen and (max-width:450px) {
    .our-sevices-car{
        justify-content: center !important;
    }
    .our-sevices-car img{
        width: 80%;
    }
}

/***************************************/
.owl-nav {
    display: flex;
    justify-content: space-between;

}
.owl-next , .owl-prev{
    background-color: #faf8f8 !important;
    width: 30px;
    height: 30px;
    border-radius: 10px !important;
    color: #42BDF3 !important;
    font-weight: bold !important;
    margin-top: -12rem;
    z-index: 99999;
}
.owl-carousel .owl-item {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.owl-carousel .item img{
    height: 100%;
    object-fit: contain;
}
@media only screen and (max-width:900px) {
    .owl-carousel .owl-item {
        height:  200px !important;
    }
    .owl-next , .owl-prev{
        margin-top: -10rem;
    }
}
@media only screen and (max-width:450px) {
    .owl-carousel .owl-item {
        height:  130px !important;
    }
    .owl-next , .owl-prev{
        margin-top: -6rem;
        width: 20px;
        height: 20px;
    }
}

.login-btn{
    background-color: #42BDF3;
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #011fbc;
}

.middle-form .form-label {
    font-size: 20px;
    color: white;
}
