
/************************************FIRST SECTION****************************/
/****************************Contact US****************************/
.contact-us{
    height: auto;
    text-align: right;
}
.join-us-form{
    color:white;
    margin-right: 7rem;
}
.join-us-form h1{
    font-size: 42px;
    font-weight: bold;
}
.join-us-form p{
    font-family: "Tajwal-light";
    font-size: 12px;
}
.form-group .input-field   {
    text-align: right;
    width: 80%;
    margin: 10px 0;
    padding: 1rem 1rem;
    border-radius: 8px;
}

.send-sms{
    background-color: #22A9E0;
    display: block;
    width: 50%;
    direction: rtl;
    color:white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    padding: 9px 10px;
    margin-top: 1rem;
    float: right;
}
.right-text{
    color:white;
    font-size: 42px;
    font-weight: bold;
    top:9rem
}
@media only screen and (max-width:992px){
    .right-text{
        text-align: center;
        font-size: 37px;
    }

}
@media only screen and (max-width:768px){

    .form-group .input-field {
        width: 100%;
    }

}
/****************************SECOND SECTION************************************/

.join-partner{
    background-image: url('../images/622179511121312\ 1.svg');
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 13rem 0;
    /* margin-top: -14rem; */
}
