@font-face {
    font-family: "Tajwal";
    src: url('../fonts/Tajawal-Regular.ttf');
}

@font-face {
    font-family: "Tajwal-light";
    src: url('../fonts/Tajawal-Light.ttf');
}

@font-face {
    font-family: "Tajwal-bold";
    src: url('../fonts/Tajawal-ExtraBold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tajwal";

}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    direction: ltr;
    text-align: left;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
    z-index: 99999999999;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    direction: ltr;
}

.nav-item {
    margin-left: 2rem !important;
    margin-top: 1rem !important;
    font-family: "Tajwal";
}

.nav-link {
    font-size: 18px;
    color: white;
    font-family: "Tajwal";
}

/* .active{
    color: #000;
} */
.login-button {
    border: 1px solid white;
    border-radius: 50px;
    padding: 6px 8px;
    margin: 0 2px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.left-buttons {
    margin-left: 1rem;
    direction: rtl;
}

.login-button:hover {
    color: #000;
    background-color: white;
    transition: .5s;
}

.nav-logo img {
    width: 40px;
}

.nav-logo {
    margin-left: 6rem !important;
}

.nav-link:hover {
    color: #000;
    transition: all 0.6s;
}
.dropdown{
    display: inline;
    direction: rtl;
}
.dropdown button
{
    background-color: transparent;
    border: none;
}
.dropdown button i
{
    color:#fff;
}
/* @media only screen and (max-width: 1545px) {
    .nav-menu {
        margin-right: 3rem;
    }

    .left-buttons {
        margin-left: 3rem;
    }

} */

@media only screen and (max-width: 1510px) {
    .nav-menu {
        margin-right: 0;
    }

    .left-buttons {
        margin-left: 0;
    }

    .nav-logo {
        margin-left: 3rem !important;
    }
}

@media only screen and (max-width: 1432px) {
    .nav-item {
        margin-left: 1rem !important;

    }

    /* .nav-logo {
        margin-left: 4rem !important;
    } */
}

@media only screen and (max-width: 1302px) {
    .nav-item {
        margin-left: 0 !important;

    }
}

@media only screen and (max-width: 1167px) {
    .nav-link{
        font-size:14px ;
    }
    .login-button {
        padding: 6px 6px;
        margin: 0 1px;
        color: white;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
    }
}

@media only screen and (max-width: 998px) {
    .navbar{
        height: 7rem;

    }
    .nav-menu {
        position: fixed;
        left: 100%;
        top: 0;
        flex-direction: column;
        background-color: #151617;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        transition: 0.3s;
    }
    .nav-link{
        font-size: 16px;
    }
    .nav-link:hover {
        color: #EDF0F3;
        font-weight: bold;
        transition: all 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.3rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

/************************************FIRST SECTION****************************/
.main-header {
    background: rgba(1, 2, 60, 0.25);
    height: auto;
}

.introduction {
    position: relative;

    /* padding-bottom: -43rem; */
}

/* .car-img{
    margin-top: -5rem;
} */
.invalid-feedback{
    display: block!important;
    margin-right: 17px;
}

.alert.alert-custom.alert-primary {
    margin-top: 50px;
}

.advertise-withus {
    background-color: #22A9E0;
    display: block;
    margin: auto;
    width: 19rem;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50px;
    padding: 9px 10px;
}

.advertise-withus:hover {
    transition: .5s;
    background-color: white;
    color: black;
}

.introduction p {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 36px;
}

.screen-img, .car-img {
    height: 70%;

}

.slides-hidden {
    display: none;
}

@media only screen and (max-width: 1477px) {
    .car-img img, .screen-img img {
        width: 100%;
    }
}

@media only screen and (max-width: 992px) {
    .all-div {
        margin-top: -13rem;
    }

    .all-div:nth-child(2) .img-text{
        margin-top: 3rem;
    }

    .introduction {
        padding-bottom: 7rem;
    }
}
@media only screen and (max-width: 767px) {

    .all-div:nth-child(2) .img-text{
        margin-top: 0;
    }
    .all-div:nth-child(2) {
        margin-top: 1rem;
    }
}
@media only screen and (max-width: 600px) {
    .all-div {
        margin-top: -10rem;
    }

    .all-div:nth-child(2) .img-text{
        margin-top: 0;
    }
}

@media only screen and (max-width: 550px) {
    .introduction p {
        font-size: 30px;
    }

}

@media only screen and (max-width: 450px) {
    .all-div {
        margin-top: -5rem;
    }
    .introduction p {
        font-size: 23px;
    }

    .advertise-withus {
        width: 16rem;
    }
}

@media only screen and (max-width: 325px) {
    .introduction p {
        font-size: 20px;
    }

    .advertise-withus {
        width: 14rem;
    }
}


/****************************SECOND SECTION************************************/
.main-background {
    background-image: url('../images/622179511121312\ 1.svg');
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 13rem 0;
    /* direction: rtl; */
}

.left-side {
    direction: ltr;
    text-align: left;
    color: #fff;
    margin-right: 6rem;
    /* background-color: red; */
    font-size: 15px;
}

.left-side h4 {
    font-weight: bold;
    margin-bottom: 18px;
}

.left-side p {
    margin-bottom: 18px;
    font-family: "Tajwal-light";
}

@media only screen and (max-width: 1200px) {
    .left-side {
        width: 100%;
        /* padding-left:3rem; */
    }

    .single-img img {
        width: 100%;
    }

    .left-side {
        width: 100%;
    }

}

/* @media only screen and (max-width:1110px){

} */
@media only screen and (max-width: 992px) {
    .single-img img {
        width: 105%;
    }

}

@media only screen and (max-width: 896px) {
    .single-img img {
        width: 100%;
    }

}

@media only screen and (max-width: 400px) {
    .login-button {
        font-size: 12px;
        margin: 0 3px;
    }

}

/*********************************SERVICES*************************/
.services {
    padding: 12rem 0;
}
.our-services{
    margin-bottom: 10rem;
    /* direction: rtl; */
}
.services h1 {
    color: #000;
    text-align: left;
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 5rem;
}
.ruut-partner-text h1{
    margin-bottom: 0rem;
}
.text-left p{
    /* text-align: right; */
    font-size: 16px;
    color: black;
    padding-right: 9rem;
}
 .right-text p {
    /* text-align: right; */
    font-size: 16px;
    color: black;
    padding-left: 9rem;
}

.text-left span:nth-child(1), .right-text span:nth-child(1) {
    font-size: 32px;
    font-weight: bold;
    color: black;
    display: block;
}

.text-left span:nth-child(2), .right-text span:nth-child(2) {
    color: #000;
    font-weight: bold;
    display: block;
    line-height: 4rem;
    font-size: 14px;
}


/* .right-text{
    margin-top: 29rem;
    text-align: right;
}*/


@media only screen and (max-width: 1168px) {
    .ruut-car img {
        width: 110%;
    }

    .text-left p {
        padding-left: 0;
    }

}
@media only screen and (max-width: 1200px) {
    .sixmeem-screen-img img {
        margin-left: -5rem;
    }

}
@media only screen and (max-width: 1020px) {
    .ruut-car img {
        width: 100%;
    }

    .text-left p {
        padding-left: 0;
    }
}

@media only screen and (max-width: 992px) {
    .text-left span:nth-child(1), .right-text span:nth-child(1) {
        font-size: 26px;
    }

    .text-left span:nth-child(2), .right-text span:nth-child(2) {
        line-height: 2rem;
    }
    .sixmeem-screen-img img{
        width: 130%;
    }
     .right-text p {

        padding-left: 5rem;
    }
}

@media only screen and (max-width: 768px) {
    .text-left span:nth-child(1), .right-text span:nth-child(1) {
        font-size: 30px;
    }

    .text-left span:nth-child(2), .right-text span:nth-child(2) {
        line-height: 4rem;
    }

    .advertise-with-us {
        margin-bottom: 4rem;
    }

    .advertiser h1 {
        font-size: 35px;
    }

    .right-text {
        margin-bottom: 8rem;
    }

    .sixmeem-screen-img img{
        width: 100%;
        margin-left: 0;
        margin-bottom: 3rem;
    }
    .our-services{
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 501px) {
    .sixmeem-screen-img img {
        width: 100%;
    }

    .right-text p {
        padding-left: 0;
    }
}

@media only screen and (max-width: 422px) {
    .text-left span:nth-child(1), .right-text span:nth-child(1) {
        font-size: 28px;
    }

    .text-left span:nth-child(2), .right-text span:nth-child(2) {
        line-height: 3rem;

    }
}

@media only screen and (max-width: 382px) {
    .text-left span:nth-child(1), .right-text span:nth-child(1) {
        font-size: 25px;
    }

    .services h1 {

        font-size: 38px;
    }

}

/**************************Advertiser************************/
.advertiser h1 {
    color: white;
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 8rem;
}

.advertiser .left-side p {
    margin-bottom: 4rem;
}

.advertise-with-us {
    background-color: #22A9E0;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50px;
    padding: 9px 32px;
    display: block;
    width: 16rem;
}

.advertise-with-us:hover {
    transition: .5s;
    background-color: white;
    color: black;
}

@media only screen and (max-width: 897px) {
    .advertiser h1 {
        margin-bottom: 3rem;
    }
}

/****************************RUUT PARTNER************************/
.ruut-partner h1 {
    font-weight: bold;
}

.ruut-partner-text span {
    display: block;
    font-weight: bold;
    margin-bottom: 18px;
}

.ruut-partner-text .main-text {
    text-align: left;
    font-size: 16px;
    /* padding-left: 17px; */
    direction: ltr;
    margin-top: 2rem;
}
.ruut-logo img {
    width: 100%;
}
@media only screen and (max-width: 550px) {
    .ruut-partner h1 {
        font-size: 30px;
    }
}



@media only screen and (max-width: 768px) {
    .ruut-partner h1 {
        margin-top: 4rem;
        font-size: 38px;
    }
}

@media only screen and (max-width: 382px) {
    .ruut-partner h1 {
        margin-top: 4rem;
        font-size: 28px;
    }
}

@media only screen and (max-width: 550px) {
    .ruut-partner h1 {
        font-size: 30px;
    }
}

/****************************Contact US****************************/
.contact-us {
    height: auto;
    text-align: right;
}

.contact-us-form {
    color: white;
    margin-right: 7rem;
}

.contact-us-form h1 {
    font-size: 42px;
    font-weight: bold;
}

.contact-us-form p {
    font-family: "Tajwal-light";
    font-size: 12px;
}

.form-group .input-field {
    text-align: right;
    width: 80%;
    margin: 10px 0;
    padding: 1rem 1rem;
    border-radius: 8px;
}

.form-group .msg {
    height: 12rem;
}

.send-sms {
    background-color: #22A9E0;
    display: block;
    width: 50%;
    direction: rtl;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    padding: 9px 10px;
    margin-top: 1rem;
    float: right;
}
.captcha {
    /* background-color: #22A9E0; */
    display: block;
    width: auto;
    direction: rtl;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    position: relative !important;


}
.position-recapcher{
    position: relative !important;
}

@media only screen and (max-width:337px){
    .captcha{
        margin-left: 24rem;
        width: 0px;

    }
}
.social-links a {
    color: white;
    margin: 0 3px;
    font-size: 3rem;
    float: left;
    /* padding-top: 31rem; */
}

.location {
    color: white;
    padding-top: 5rem;
    text-align: left;
    width: 50%;
}
.contact-help{
    top:26rem;
}
.marof{
    height:50px;
    margin-bottom:4rem;
    margin-top:2rem;
    display: flex;
    align-items: right;
    width: 80%;
    position: relative;
}
.marof iframe{
    /* width: auto;  */
    height: 210px;
    overflow:hidden;
    /* margin-right:-8rem */

}
@media only screen and(max-width:396px){
    .marof iframe{
        margin-right:-20rem
    }

}
@media only screen and (max-width:992px) {
    .contact-us-form {
        margin-right: 0;
    }
}
@media only screen and (max-width: 768px) {
    .location {
        color: white;
        padding-top: 6rem;
        text-align: center;
    }

    .contact-help {
        display: none;
    }

    .contact-us {
        height: auto;
    }

    .form-group .input-field {
        width: 100%;
    }
    .contact-us-form {
        margin-right: 0;
    }
}

/**************************************************************/
.cart-login {

    width: 100%;
}

.login-form {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 60%;
    margin: auto;
    padding: 3rem 5rem;
    display: block;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.middle-form input::-webkit-input-placeholder {
    font-family: FontAwesome;
    font-weight: normal;
    overflow: visible;
    color: lightgray;
    text-transform: none;
}

.middle-form input::-moz-placeholder {
    font-family: FontAwesome;
    font-weight: normal;
    overflow: visible;
    color: lightgray;
    text-transform: none;
}

.middle-form input:-ms-input-placeholder {
    font-family: FontAwesome;
    font-weight: normal;
    overflow: visible;
    background-color: lightgray;
    text-transform: none;
}

.middle-form .btn {
    width: 10rem;
    background-color: #22A9E0;
    color: #fff;
    display: block;
    margin: 2rem auto auto;
    font-size: 16px;
}

.middle-form .form-label {
    font-size: 20px;
    color: #090b8a;
}

.title-login span{
    text-align: center;
    font-size: 25px;
    margin-bottom: 2rem;
    color: #22A9E0;
    font-weight: bold;
}

@media only screen and (max-width: 992px) {
    .login-form {
        width: 100%;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

}

@media only screen and (max-width: 500px) {
    .login-form {
        padding: 3rem 1rem;
    }

}

/***********************PHONE NUMBER INPUT*********************/
.iti {
    width: 100%;
}
/**************************************************************/
.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple{
    border-radius: 0.25rem;
}

/**************************************************************/
.ads-box {
    margin-top: 9rem;
    margin-bottom: 9rem;
}

/**************************************************************/

.add-ads-btn {
    background-color: #22A9E0;
    color: #fff;
    padding: 8px 15px;
    border-radius: 0.25rem;
    font-size: 13px;
}

.add-ads-btn:hover {
    background-color: #01023C;
    color: #fff;
}

.add-ads-btn i {
    color: #fff;
    margin-right: 4px;
}
/*****************************USER PROFILE*****************************************/
.user-details-card{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 65%;
    margin: auto;
    padding: 3rem 5rem;
    display: block;
    margin-top: 10rem;
    margin-bottom: 10rem;
}
@media only screen and (max-width:1200px) {
    .user-details-card{
        width: 80%;
    }
}
@media only screen and (max-width:992px) {
    .user-details-card{
        padding: 3rem 3rem;
        width: 100%;
    }
}
.user-details-card h3 {
    color:#22A9E0;
    font-weight: bold;
    margin-bottom: 3rem;
}
.user-details-card h3 i{
    font-size: 1.75rem;
    color:#22A9E0
}
.links{
    border-top:1px solid #000;
    margin-top: 3rem;
    padding-top: 2rem;
    direction: rtl;
    text-align: right;
}
.links a{
    margin: 0 1rem;
    font-size: 15px;
    font-weight: bold;

}
.links i{
    color:#22A9E0;
    font-size: 16px;
}
.links button{
    color:#22A9E0;
    border: none;
    background-color: transparent;
    display: inline;
    font-weight: bolder;
    font-size: 15px;
}
.user-details{
    display: inline-block;
    font-size: 18px;
}
.user-details label{
    font-weight: bold;
    color: #000;
}
.user-details label i{
    color: #000;
}
/******************************Add ADS info icon***************/


#popup label:nth-child(2), #popup label:nth-child(2):visited {
	position: relative;
	display: block;
    cursor: pointer;
}

#popup label:nth-child(2) span {
	display: none;
}

#popup label:nth-child(2):hover span {
	display: block;
	position: absolute;
	top: 0px;
	left: 100px;
	width: 320px;
	margin: 0px;
	padding: 10px;
	color: #335500;
	font-weight: normal;
	background: #e5e5e5;
	text-align: left;
	border: 1px solid #666;
    z-index: 99;
}
/*******************************FOOTER*************************/

footer{
    direction: ltr;
    bottom: 0;
    background: rgba(1, 2, 60, 0.25);
    /* text-align: right; */
    color: #000;
    padding-top: 5rem;
}
footer .row{margin-bottom: 5rem;}
footer div{
    text-align: left;
}
footer ul{

}
footer ul a{
    color: black;
    font-size: 15px;
}
footer .social-links-footer i {
    color: black;
    margin: 0 3px;
    font-size: 3rem;
    /* text-align: right; */
    /* float: right; */
    direction: rtl;
}
footer p {font-size: 15px;}
.social-links i {
    color: #fff;
    font-size: 35px;
}
footer .footer-copyright , footer .footer-copyright a{
    /* text-align: right; */
    direction: ltr;
    background-color: #01023C;
    color: white;
    font-size: 15px;
}

footer .footer-copyright a{
    font-weight: bold;
}

@media screen and (max-width:992px) {

    footer .social-links-footer i {
        font-size: 25px;
    }
    footer p {padding-left: 0 ;}
}
@media screen and (max-width:767px) {
    footer div{
        text-align: center;
    }
    footer p {padding:0 5rem }
    footer .social-links-footer i {
        font-size: 3rem;
    }

}
