$orangeColor: #F6991B;
$orange: #ff7f00;
$dark-gray: #333;
$medium-gray: #444;
$light-gray: #f8f9fa;
@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: RobotoBold;
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: RobotoBlack;
    src: url('../fonts/Roboto-Black.ttf');
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-input.show {
    display: block;
    opacity: 1;
}

.navbar {
}


main {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

a {
    color: gray;
}

a:hover {
    text-decoration: none;
}

.navbar {
    padding: 1rem 3rem !important;
    justify-content: space-between !important;
    @media only screen and (max-width: 992px) {
        padding: .5rem 0 !important;
    }

    .navbar-text {
        color: black;
        font-size: 14px;
        text-decoration: underline;

        .nav-link {
            padding: 0 2rem 0 10px !important
        }
    }

    .links-icons {
        direction: rtl;

        i {
            color: black;
            margin: 0 5px;

            &:hover {
                color: $orangeColor
            }
        }
    }

    .logo-img {

        img {
            width: 120px;
        }
    }

    .location-dropdown {

        .form-control {
            width: 25rem !important;
            height: 1.5rem !important;
            border: 2px solid black;
            font-size: 12px;
            color: $orangeColor;
            padding: 0;
            margin: 0 2rem 0 8px; //margin right for the logo, margin left for the location icon
            @media only screen and (max-width: 992px) {
                width: 20rem !important;
            }
            @media only screen and (max-width: 768px) {
                width: 10rem !important;
            }
            @media only screen and (max-width: 768px) {
                width: 100% !important;
            }
        }
    }
}

.main-img {
    position: relative;
    background-color: rebeccapurple;
    height: 650px;

    img {
        position: absolute;
        height: 100%;
    }

    .main-text {
        position: absolute;
        color: white;
        right: 2%;
        padding-top: 6rem;

        h1 {
            font-size: 30px;
        }

        .text-bold {
            font-family: "RobotoBlack";
            font-size: 4rem;
        }

        .learn_more {
            background-color: $orangeColor;
            color: white;
            display: block;
            margin: auto;
            width: 25%;
        }
    }
}

.card {
    img{
        width: 100%;
        height:250px;
    }
    &:hover {
        color:$orange
    }
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color:$orange;
    border-color: $orange;
}

.black-bar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 13rem;
    background-color: #000;

    span {
        font-size: 14px;
        @media only screen and (max-width: 360px) {
            font-size: 12px;
        }
    }

    @media only screen and (max-width: 991.98px) {
        padding: 1rem 5rem;
    }
    @media only screen and (max-width: 767.98px) {
        padding: 1rem 0;
        .circl-div {
            display: block !important;
            margin-bottom: 1rem; /* Add margin between the circle divs */
            text-align: center;

            .circle {
                margin: auto;
            }
        }
    }

    .circle {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 2px solid white;

        img {
            width: 40px;
        }

        @media only screen and (max-width: 767.98px) {
            width: 45px;
            height: 45px;
            img {
                width: 30px;
            }
        }
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.grid-item {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.grid-item img {
    max-width: 100%;
    height: auto;
}

.label {
    margin-top: 10px;
    font-weight: bold;
}

.label.highlighted {
    background-color: orange;
    color: white;
    padding: 5px;
}

/////// create equipment page //////////
.upload-box {
    width: 100%;
    height: 150px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.upload-box img {
    max-width: 50px;
}

button[type="submit"] {
    width: 25%;
}


//////////////show equipment page /////////////


////////// login page //////////

.signup-link{
    .signup-link-a{
        cursor: pointer;
    }
}
.text-orange {
    color: $orangeColor;
}

.btn-orange {
    background-color: $orangeColor;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: darken($orangeColor, 10%);
    }
}

.position-relative {
    position: relative;
}

.btn-change {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    z-index: 2;
}

.iti {
    display: inline-block !important;
    width: 100% !important;
    padding: 0 5px !important;

}

.select2-container--default .select2-selection--single {
    height: 37px;
    border-radius: 5px;
    background-color: #f0f0f0 !important;
    border-color: #f0f0f0 !important;
}
///////// end login page //////


.container {
    margin-top: 50px;
}

.image-gallery img {
    width: 100%;
    height: auto;
}

.image-gallery {
    display: flex;
    justify-content: space-around;
}

.image-gallery img {
    width: 24%;
    cursor: pointer;
}

.main-image {
    text-align: center;
}

.main-image img {
    width: 100%;
    height: 520px;
}

.box {
    border: 1px solid #ccc;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.2);
    text-align: start;
    background-color:white;
    padding: 20px;
    box-sizing: border-box;
}
.box-display{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    background-color: #f0f0f0;
}

.btn-color {
    background-color: orange;
    color: white;
}


.footer {
    background-color: white;
    color: black;
    padding: 40px 0;

    .footer-title {
        font-weight: bold;
        margin-bottom: 20px;
        color:$orangeColor
    }

    .footer-info,
    .footer-links {
        list-style-type: none;
        padding: 0;

        li {
            margin-bottom: 10px;

            a {
                color: black;
                text-decoration: none;
            }
        }
    }

    .newsletter-container {
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: end;
        border-bottom: 2px $orangeColor solid;

        .newsletter-title{
            font-size:20px
        }
    }

    .newsletter {
        max-width: 400px;
        margin: 0 auto;

        .form-control {
            width: auto;
            display: inline-block;
        }

        .btn {
            display: inline-block;
            padding: -0.25rem;
        }
    }


    .newsletter-join {
        display: flex;
        justify-content: end;

        .form-control {
            width: 67%;
            max-width: 200px;
            margin-right: 10px;
        }

        .btn {
            width: auto;
            padding: -0.25rem;
        }
    }

    .social-icons {
        margin-top: 10px;

        a {
            display: inline-block;
            margin-right: 10px;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }

    .copy-right {
        background-color: black;
        color: white;

    }
}

