@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto-Regular.ttf?fc2b5060f7accec5cf74437196c1b027);
}
@font-face {
  font-family: RobotoBold;
  src: url(/fonts/Roboto-Bold.ttf?f80816a5455d171f948d98c32f20c46e);
}
@font-face {
  font-family: RobotoBlack;
  src: url(/fonts/Roboto-Black.ttf?cf56c1b149d0a5e8d7c6503cd98b56a3);
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-input.show {
  display: block;
  opacity: 1;
}

main {
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

a {
  color: gray;
}

a:hover {
  text-decoration: none;
}

.navbar {
  padding: 1rem 3rem !important;
  justify-content: space-between !important;
}
@media only screen and (max-width: 992px) {
  .navbar {
    padding: 0.5rem 0 !important;
  }
}
.navbar .navbar-text {
  color: black;
  font-size: 14px;
  text-decoration: underline;
}
.navbar .navbar-text .nav-link {
  padding: 0 2rem 0 10px !important;
}
.navbar .links-icons {
  direction: rtl;
}
.navbar .links-icons i {
  color: black;
  margin: 0 5px;
}
.navbar .links-icons i:hover {
  color: #F6991B;
}
.navbar .logo-img img {
  width: 120px;
}
.navbar .location-dropdown .form-control {
  width: 25rem !important;
  height: 1.5rem !important;
  border: 2px solid black;
  font-size: 12px;
  color: #F6991B;
  padding: 0;
  margin: 0 2rem 0 8px;
}
@media only screen and (max-width: 992px) {
  .navbar .location-dropdown .form-control {
    width: 20rem !important;
  }
}
@media only screen and (max-width: 768px) {
  .navbar .location-dropdown .form-control {
    width: 10rem !important;
    width: 100% !important;
  }
}

.main-img {
  position: relative;
  background-color: rebeccapurple;
  height: 650px;
}
.main-img img {
  position: absolute;
  height: 100%;
}
.main-img .main-text {
  position: absolute;
  color: white;
  right: 2%;
  padding-top: 6rem;
}
.main-img .main-text h1 {
  font-size: 30px;
}
.main-img .main-text .text-bold {
  font-family: "RobotoBlack";
  font-size: 4rem;
}
.main-img .main-text .learn_more {
  background-color: #F6991B;
  color: white;
  display: block;
  margin: auto;
  width: 25%;
}

.card img {
  width: 100%;
  height: 250px;
}
.card:hover {
  color: #ff7f00;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #ff7f00;
  border-color: #ff7f00;
}

.black-bar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 13rem;
  background-color: #000;
}
.black-bar span {
  font-size: 14px;
}
@media only screen and (max-width: 360px) {
  .black-bar span {
    font-size: 12px;
  }
}
@media only screen and (max-width: 991.98px) {
  .black-bar {
    padding: 1rem 5rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .black-bar {
    padding: 1rem 0;
  }
  .black-bar .circl-div {
    display: block !important;
    margin-bottom: 1rem; /* Add margin between the circle divs */
    text-align: center;
  }
  .black-bar .circl-div .circle {
    margin: auto;
  }
}
.black-bar .circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid white;
}
.black-bar .circle img {
  width: 40px;
}
@media only screen and (max-width: 767.98px) {
  .black-bar .circle {
    width: 45px;
    height: 45px;
  }
  .black-bar .circle img {
    width: 30px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.grid-item {
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
}

.label {
  margin-top: 10px;
  font-weight: bold;
}

.label.highlighted {
  background-color: orange;
  color: white;
  padding: 5px;
}

.upload-box {
  width: 100%;
  height: 150px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.upload-box img {
  max-width: 50px;
}

button[type=submit] {
  width: 25%;
}

.signup-link .signup-link-a {
  cursor: pointer;
}

.text-orange {
  color: #F6991B;
}

.btn-orange {
  background-color: #F6991B;
  border: none;
  cursor: pointer;
}
.btn-orange:hover {
  background-color: #d67e08;
}

.position-relative {
  position: relative;
}

.btn-change {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  z-index: 2;
}

.iti {
  display: inline-block !important;
  width: 100% !important;
  padding: 0 5px !important;
}

.select2-container--default .select2-selection--single {
  height: 37px;
  border-radius: 5px;
  background-color: #f0f0f0 !important;
  border-color: #f0f0f0 !important;
}

.container {
  margin-top: 50px;
}

.image-gallery img {
  width: 100%;
  height: auto;
}

.image-gallery {
  display: flex;
  justify-content: space-around;
}

.image-gallery img {
  width: 24%;
  cursor: pointer;
}

.main-image {
  text-align: center;
}

.main-image img {
  width: 100%;
  height: 520px;
}

.box {
  border: 1px solid #ccc;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.2);
  text-align: start;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
}

.box-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
  background-color: #f0f0f0;
}

.btn-color {
  background-color: orange;
  color: white;
}

.footer {
  background-color: white;
  color: black;
  padding: 40px 0;
}
.footer .footer-title {
  font-weight: bold;
  margin-bottom: 20px;
  color: #F6991B;
}
.footer .footer-info,
.footer .footer-links {
  list-style-type: none;
  padding: 0;
}
.footer .footer-info li,
.footer .footer-links li {
  margin-bottom: 10px;
}
.footer .footer-info li a,
.footer .footer-links li a {
  color: black;
  text-decoration: none;
}
.footer .newsletter-container {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: end;
  border-bottom: 2px #F6991B solid;
}
.footer .newsletter-container .newsletter-title {
  font-size: 20px;
}
.footer .newsletter {
  max-width: 400px;
  margin: 0 auto;
}
.footer .newsletter .form-control {
  width: auto;
  display: inline-block;
}
.footer .newsletter .btn {
  display: inline-block;
  padding: -0.25rem;
}
.footer .newsletter-join {
  display: flex;
  justify-content: end;
}
.footer .newsletter-join .form-control {
  width: 67%;
  max-width: 200px;
  margin-right: 10px;
}
.footer .newsletter-join .btn {
  width: auto;
  padding: -0.25rem;
}
.footer .social-icons {
  margin-top: 10px;
}
.footer .social-icons a {
  display: inline-block;
  margin-right: 10px;
}
.footer .social-icons a img {
  width: 24px;
  height: 24px;
}
.footer .copy-right {
  background-color: black;
  color: white;
}
