.terms{
    direction: rtl;
    text-align: right;
    margin-bottom: 5rem;
    color:black
}
.terms h1{
    font-weight: bold;
    font-size: 42px;
    margin: 5rem 0;
}
.terms h4{
    font-size: 18px;
    font-weight: bold;
    margin-top: 4rem;
    margin-bottom: 1rem;
}
.terms p{
    font-size: 16px;
    width: 75%;
    font-weight:500;
}
@media only screen and (max-width:576px){
    .terms p{
        width: 100%;
    }
    .terms{
        margin-right:  1rem;
        margin-left:  1rem;
    }
    .terms h1{
        font-size: 32px;
    }
}